*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position:absolute;
  background-color: lightgray;
}

.container_content_component{
  height: auto;
  display: grid;
  height: 80vh;
  place-items: center;
}
.Product_List_Component{
  height: 80vh;
  overflow-y:scroll ;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.header_button{
  margin-left: auto;
}

.loginForm{
  width: 300px;
}
.inc_dcr{
  display: flex;

}